@import '{}/imports/ui/stylesheets/variables/index';

.timetable {
	min-height: 100vh;
	overflow: hidden;
	padding-top: 5px;
	position: relative;
}

.timetable-header {
	@include td-margin(left, 12em);
	position: relative;
}

.timetable-days,
.timetable-hours {
	height: 2em;
	margin-bottom: 2px;
	position: relative;
}

.timetable-day {
	border: solid;
	border-color: #ddd;
	border-width: 3px 0 0 0.5px;
	height: 2em;
	margin-bottom: 2px;
	position: absolute;
	text-align: center;
}

.timetable-hour {
	border: solid;
	border-color: #ddd;
	border-width: 3px 0 0 0.5px;
	height: 10000px;
	padding-left: 5px;
	position: absolute;
	text-align: left;
}

.timetable-row {
	border-top: 2px solid #aaa;
	position: relative;
	z-index: 0;

	&:hover {
		z-index: 1;
	}

	&-room {
		border-top-width: 0;
	}
}

.timetable-location {
	@include td-pos(left, -1em);
	max-height: 100%;
	overflow: hidden;
	padding: 0 1em;
	position: absolute;
	width: 12em;
}

.timetable-row-section {
	@include td-margin(left, 12em);
	height: 45px;
	position: relative;

	&:hover {
		z-index: 1;
	}
}

.timetable-event {
	color: $black;
	margin: 0.1em;
	position: absolute;

	&:hover {
		z-index: 1;
	}
}

.timetable-event-title {
	background-color: $success;
	font-size: 28px;
	height: 43px;
	line-height: 1.2em;
	overflow: hidden;
	padding: 4px 12px;

	&:hover {
		box-shadow: 0 5px 8px $default-shadow;
		height: 70px;
		min-width: 400px;
	}
}

.timetable-event-time {
	background-color: #eee;
	display: none;
	height: 1.4em;
	overflow: hidden;
	padding: 0 6px;
	position: absolute;
	top: -20px;
}

.timetable-event-description {
	background-color: $blue-lighter;
	display: none;
	height: 12em;
	overflow: hidden;
	padding: 4px 8px;
}

.timetable-event-title:hover ~ .timetable-event-time,
.timetable-event-title:hover ~ .timetable-event-description {
	box-shadow: 0 5px 8px $default-shadow;
	display: block;
	z-index: 1;
}

.timetable-event-title:hover ~ .timetable-event-time {
	min-width: 130px;
}

.timetable-event-title:hover ~ .timetable-event-description {
	min-width: 400px;
}

.vertical-wrapper {
	height: 100vh;
	pointer-events: none;
	position: absolute;
	width: 100%;
}

.vertical {
	border-left: 3px solid #f00;
	height: 100%;
	left: 50%;
	opacity: 30%;
	position: absolute;
	z-index: 1;
}
